@font-face {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 700;
    src: url(../fonts/NunitoSans_700.woff2) format("opentype")
}

@font-face {
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/NunitoSans_400.woff2) format("opentype")
}

@font-face {
    font-family: Inter;
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/Inter-Regular.woff2) format("opentype")
}
html{
    scroll-behavior: smooth;
}
body {
    background: #141418;
    font-family: 'Inter', sans-serif;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
#root{
    overflow: hidden;
}
.wrapper {
    width: calc(100% - 40px);
    max-width: 1360px;
    margin: 0 auto;
    margin-top: 140px;
}

.second__title {
    color: #FFF;
    font-family: Nunito Sans;
    font-size: 64px;
    font-weight: 700;
    line-height: 110%;
}

main {
    position: relative;
}

.main__button {
    border-radius: 50px;
    background: linear-gradient(275deg, rgba(255, 194, 150, 0.40) 6.36%, rgba(255, 194, 150, 0.00) 67.36%), #FFF;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 20px;
    font-size: 18px;
    color: #141418;
    line-height: 1;
    width: 100%;
    max-width: 275px;
    margin: 140px auto 0;
    transition: .5s;
}

.main__button:hover {
    box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.60);
}

@media (max-width: 1000px) {

    .wrapper,
    .main__button {
        margin-top: 110px;
    }

    .second__title {
        font-size: 40px;
    }
}

@media (max-width: 768px) {
    .main__button{
        margin-top: 90px;
    }
}
@media (max-width: 480px) {
    .wrapper,
    .main__button{
        margin-top: 85px;
    }
    .second__title{
        font-size: 32px;
    }
    .main__button{
        max-width: calc(100% - 40px);
    }
}
@media (max-width: 360px){
    .second__title{
        font-size: 24px;
    }
    .main__button{
        margin-top: 75px;
    }
}