.contact {
    max-width: 1560px;
    margin: 0 auto;
    padding: 100px;
    border-radius: 13px;
    border: 1px solid #92E4DD;
    margin-top: 140px;
    position: relative;
}

.contact::after {
    position: absolute;
    content: '';
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 5px);
    border-radius: 100%;
    background: radial-gradient(circle at 50% 50%, #FFF 0%, rgba(146, 228, 221, 0.00) 100%);
    height: 8px;
    width: 20%;
}

.contact .wrapper {
    margin-top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.contact__title {
    width: 45%;
}

.contact__form {
    width: 50%;
}

.contact__images {
    margin-top: 70px;
}

.contact__img {
    height: 200px;
}

.contant__inputs {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 20px;
}

.contact__input {
    width: calc(50% - 10px);
    padding: 15px 24px;
}

.contact__textarea {
    width: 100%;
    height: 170px;
    resize: none
}

.contact__input,
.contact__textarea {
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.90);
    color: rgba(20, 20, 24, 0.50);
    font-size: 18px;
    line-height: 140%;
    padding: 15px 24px;
}

.contact__input:focus,
.contact__textarea:focus {
    background: #FFF;
    color: #141418;
}

.form__bottom {
    margin-top: 35px;
    display: flex;
    gap: 32px;
}

.form__checkbox {
    width: calc(100% - 250px);
    display: flex;
    gap: 13px;
    align-items: start;
}

.contact__form-button {
    padding: 20px 44px;
    color: #141418;
    font-size: 18px;
    line-height: 1;
    border-radius: 50px;
    background: #FFF;
    display: flex;
    align-items: center;
    gap: 10px;
    opacity: 0.5;
    transition: .5s;
}

.contact__form-button.active {
    opacity: 1;
}

.contact__form-button.active:hover {
    box-shadow: 0px 4px 20px 0px rgba(255, 255, 255, 0.60);
}

.form__checkbox-span {
    width: 14px;
    height: 14px;
    border-radius: 4px;
    background: rgba(255, 255, 255, 0.90);
    padding: 2px;
}

.form__checkbox-span.active img {
    display: block;
}

.form__checkbox-span img {
    width: 100%;
    display: none;
}

.form__checkbox #checkbox {
    display: none;
}

.form__checkbox p {
    color: #858894;
    font-size: 14px;
    line-height: 140%;
    width: calc(100% - 27px);
}

.thanks {
    position: fixed;
    width: 100vw;
    height: 100vh;
    display: none;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    background: rgba(20, 20, 24, 0.40);
    z-index: 5;
    backdrop-filter: blur(2px);
    -webkit-backdrop-filter: blur(2px);
    cursor: pointer
}

.thanks.active {
    display: flex
}

.thanks__container {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    width: 430px;
    padding: 83px;
    border-radius: 13px;
    background: linear-gradient(0deg, #FFF 0%, #FFF 100%), #141418;
    position: relative;
}

.thanks__container::after {
    content: url(../../../public/img/close-thanks.svg);
    position: absolute;
    top: 6px;
    right: 6px;
}


.thanks__container p {
    color: #141418;
    text-align: center;
    font-family: Nunito Sans;
    font-size: 32px;
}